@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

// Set your brand colors
$info: #009986;
$dark: #212121;

// Update Bulma's global variables
$family-sans-serif: "Montserrat", sans-serif;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $dark;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$footer-background-color: $dark;

// Import only what you need from Bulma
@import "~bulma/bulma";

.hero {
  background: url(/img/bak.png) center / cover;
}

#barra {
  padding-top: 10%;
}

#searching {
  padding: 3rem 9rem;
}

.thumbnail {
  padding: 3rem 0;
}

#why {
  background-image: url(/img/rose.png);
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  padding: 3rem 1.5rem 0rem;
}

#recordListIta {
  padding-top: 2%;
}

#cercartista{
  padding-bottom: 2rem;
}

.footer {
  background-color: #00000000;
  padding: 3rem 1.5rem 0rem;
}
//Iframe
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

@media (max-width: 1024px) {
  .hero {
    background: #212121;
  }
  #why {
    background: #cb7375;
  }
}

@media (max-width: 768px) {
  .hero {
    background: #212121;
  }
  #why {
    background: #cb7375;
  }
}

//parallax
.parallax {
  background-image: url(/img/wallpaper.png);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


