@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

// Set your brand colors
$info: #009986;
$dark: #212121;

// Update Bulma's global variables
$family-sans-serif: "Montserrat", sans-serif;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $dark;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$footer-background-color: $dark;

// Import only what you need from Bulma
@import "~bulma/bulma";
@import "~bulma-divider";

.hero.is-medium {
  height: 706px;
}

.hero.has-background {
  position: fixed;
}

.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
#barra{
  padding-top: 10%;
}

#searching {
  padding: 3rem 9rem;
}

.thumbnail{
  padding: 3rem 0;
}

#why{
  background-image: url(/img/rose.png);
  height: 706px;
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
